{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-header btn-primary text-white">
      <h5 class="mb-0">Import Data Masjid</h5>
    </div>
    <div class="card-body">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="file" class="form-label">Upload File Excel (.xls, .xlsx)</label>
          <input type="file" name="file" id="file" class="form-control" accept=".xls,.xlsx" required>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
