{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Data Kegiatan </h1>
            <!-- Button trigger modal -->
            <a href="{% url 'kegiatan_create' %}" class="btn btn-primary ">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    + Tambah
                </button>
            </a>
        </div>


    <!-- Modal -->
        <div class="card p-4">
            <div class="row">
                <table class="table table-bordered" id="dataTable">
                    <tr>
                        <th>No</th>
                        <th>Nama Kegiatan</th>
                        <th>Aksi</th>
                    </tr>
                    {% for kegiatan in kegiatan %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ kegiatan.nama }}</td>
                        <td>
                            <a href="{% url 'kegiatan_edit' kegiatan.pk %}" class="btn btn-sm btn-warning">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{% url 'kegiatan_delete' kegiatan.pk %}" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %}